:root {
  font:
    16px/145% "Courier New",
    Courier,
    monospace;
  color-scheme: dark;
}

body {
  margin: 0;
  background-color: #000;
  background-image: url("/images/mr-worldwide.jpg");
  background-repeat: repeat;
  background-size: 340px auto;
}

#root {
  min-height: 100svh;
}

* {
  box-sizing: border-box;
}
